body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes backgroundColorPalette {
  0% {
    background: rgb(98, 76, 171);
  }
  25% {
    background: rgb(211, 196, 227);
  }
  50% {
    background: rgb(219, 83, 117);
  }
  75% {
    background: rgb(90, 219, 255);
  }
  100% {
    background: rgb(150, 230, 179);
  }
}

.title, a{
  padding:5px 12px;
  float:right;
  color: black;
}
.topbar{
  height:0;
}
.dancer{
  border:10px solid rgb(255, 0, 0);
  border-radius:10px;
  position:absolute;
}
#background {
  height: 100%;
  width: 100%;
}

a {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgb(79, 74, 0);
  border:10px solid rgb(0, 0, 0);
  border-radius:10px;
}
